<div class="modal-dialog">
  <div class="modal-content">
    <div class="overwork_confirmation_form">
      <%= form_tag(overwork_confirmation_status_update_path, method: :post) do %>
        <% @pending_users.each do |user, attendances| %>
        <div class="modal-header">
          <h2>【<%= user.name %>からの勤怠変更申請】</h2>
        <div>
        <div class="modal-body">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th class="table-header" width="50">日付</th>
                <th class="table-header" width="50">曜日</th>
                <th class="table-header" width="180">終了予定時間</th>
                <th class="table-header" width="180">指定勤務終了時間</th>
                <th class="table-header" width="70">時間外時間</th>
                <th class="table-header" width="70">業務処理内容</th>
                <th class="table-header" width="130">指示者確認（印）</th>
                <th class="table-header" width="70">変更</th>
                <th class="table-header" width="130">勤怠を確認する</th>
              </tr>
            </thead>
          <tbody>
            <% attendances.each do |attendance| %>
              <%= hidden_field_tag 'attendances[][user_name]', user.name %>
            <tr>
              <!--日付-->
              <%= hidden_field_tag 'attendances[][attendance_date]', attendance.attendance_date %>
              <td class="table-body"><%= attendance.attendance_date.strftime("%-m/%-d") %></td>
              <!--曜日-->
              <td class="table-body"><%= @youbi[attendance.attendance_date.wday] %></td>
              <!-- 終了予定時間の表示  -->
              <td class="table-body"><%= attendance.overtime.strftime("%-H:%M") %></td>
              <!-- 指定勤務終了時間時間の表示  -->
              <td class="table-body"><%= user.end_attendance_time.strftime("%-H:%M") %></td>
              <!-- 時間外時間の表示  -->
              <td class="table-body"><%= "#{attendance.overtime.hour - user.end_attendance_time.hour}:#{sprintf('%02d', attendance.overtime.min - user.end_attendance_time.min)}" %></td>
              <!-- 業務処理内容の表示  -->
              <td class="table-body"><%= attendance.task_memo %></td>
              <!-- 指示者確認（印）の表示  -->
              <td class="table-body"><%= select_tag 'attendances[][overwork_status]', options_for_select([["なし", "nothing"], ["申請中", "pending"],["承認", "approval"], ["否認", "denial"]]) %></td>
              <!-- 変更の表示  -->
              <td class="table-body"><%= check_box_tag('attendances[][overwork_confirmation_checked]', attendance.id) %></td>
              <!-- 勤怠を確認するの表示  -->
              <td class="table-body"><%= link_to "確認", monthly_attendance_show_path(params: { user_name: user.name, year_month: "#{attendance.attendance_date.year}" + "#{attendance.attendance_date.month}"}), :style=>"color:white;", class: "btn btn-sm btn-primary" %></td>
            </tr>
            <% end %>
          </tbody>
          </table>
        </div>
        <% end %>
        <div class="modal-footer">
          <%= submit_tag "変更を送信する", class: "btn btn-primary btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>