<h1>勤怠ログ</h1>
<div class="select-tag">
  <%= form_tag(attendance_logs_path, method: :post) do %>
    <%= select_tag('select_year', options_for_select((2017..2019), class:'option', selected: @select_year), onchange: "this.form.submit()") %>
    <%= select_tag('select_month', options_for_select((1..12), class:'option', selected: @select_month), onchange: "this.form.submit()") %>
    <button value="clicked" name="reset" type="submit" class="select-button">リセット</button>
  <% submit_tag "検索" %>
  <% end %>
</div>
<div>
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th class="table-header" width="50">日付</td>
        <th class="table-header" width="50">変更前出社時間</td>
        <th class="table-header" width="180">変更前退社時間</td>
        <th class="table-header" width="180">変更後出社</td>
        <th class="table-header" width="70">変更後退社</td>
        <th class="table-header" width="130">指示者</td>
        <th class="table-header" width="70">承認日</td>
      </tr>
    </thead>
    <% @attendances.each do |attendance| %>
    <tbody>
      <tr>
        <td class="table-body"><%= attendance.attendance_date %></td>
        <td class="table-body"><%= attendance.before_change_arriving_at.strftime("%-H:%M")if attendance.before_change_arriving_at %></td>
        <td class="table-body"><%= attendance.before_change_leaving_at.strftime("%-H:%M")if attendance.before_change_leaving_at %></td>
        <td class="table-body"><%= attendance.arriving_at.strftime("%-H:%M")if attendance.arriving_at %></td>
        <td class="table-body"><%= attendance.leaving_at.strftime("%-H:%M")if attendance.leaving_at %></td>
        <td class="table-body"><%= User.find(attendance.monthly_confirmation_approver_id.to_i).name if attendance.monthly_confirmation_approver_id %></td>
        <td class="table-body"><%= attendance.monthly_confirmation_approval_on.strftime("%m/%d") if attendance.monthly_confirmation_approval_on %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>