<h1>勤怠ログ</h1>
<div>
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th class="table-header" width="50">日付</td>
        <th class="table-header" width="50">変更前出社時間</td>
        <th class="table-header" width="180">変更前退社時間</td>
        <th class="table-header" width="180">変更後出社</td>
        <th class="table-header" width="70">変更後退社</td>
        <th class="table-header" width="130">指示者</td>
        <th class="table-header" width="70">承認日</td>
      </tr>
    </thead>
    <% @approval_users.each do |user, attendances| %>
    <% attendances.each do |attendance| %>
    <tbody>
      <tr>
        <td class="table-body"><%= attendance.attendance_date %></td>
        <td class="table-body"><%= attendance.before_change_arriving_at %></td>
        <td class="table-body"><%= attendance.before_change_leaving_at %></td>
        <td class="table-body"><%= attendance.arriving_at %></td>
        <td class="table-body"><%= attendance.leaving_at %></td>
        <td class="table-body"></td>
        <td class="table-body"></td>
      </tr>
    </tbody>
     <% end %>
    <% end %>
  </table>
</div>